<div *ngIf="authService.currentUser?.genre == null">
  <div class="container mt-2">
    <div class="box">
      <h6>You do not have a genre selected! Please ask Calin to assign you a genre.</h6>
      <h6>Before you start, I will let you know that:</h6>
      <ol style="list-style-type: decimal;">
        <li class="h6">Two songs will be given to you. To play the 15 seconds snippets, you should click the play buttons</li>
        <li class="h6">You have to give them a similarity rating between 0 and 100, where 0 is the least similar and 100 is the most similar.</li>
        <li class="h6">The said rating should be written in the box.</li>
        <li class="h6">Clicking the send button sends current rating and fetches new songs.</li>
        <li class="h6">I would recommend that you give at least 30 ratings in order for your ratings to be relevant.</li>
        <li class="h6">It is recommended, though, for the best experience, to give at least 100 ratings.</li>
        <li class="h6">It should take cca. 1 hour to give 100 ratings.</li>
        <li class="h6">A counter will be shown showing how many ratings you have given, so you do not have to count them manually.</li>
        <li class="h6">If you want to give ratings for multiple genres, you should create another account.</li>
      </ol>
      <h6>If you have any questions, feel free to ask Calin!</h6>
      <h6>Thanks so much for helping me with this! <3</h6>
    </div>
  </div>
</div>

<div *ngIf="authService.currentUser?.genre != null && isLoading" class="spinner-container">
  <div class="spinner-border text-primary" role="status">
  </div>
</div>

<div *ngIf="authService.currentUser?.genre != null && !isLoading" class="row mt-lg-5" style="max-width: 100%">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="shaded-box p-4">
          <div class="row mb-4">
            <div class="col-6">
              <app-wav-player [bytes]="content1"></app-wav-player>
            </div>
            <div class="col-6">
              <app-wav-player [bytes]="content2"></app-wav-player>
            </div>
          </div>

          <div class="form-group">
            <label for="inputNumber">How similar are these two songs, on a scale between 0 and 100?</label>
            <input type="number" id="inputNumber" class="form-control" [(ngModel)]="inputValue" (input)="handleInput()">
            <div *ngIf="errorMessage != ''" class="text-danger mt-2">{{errorMessage}}</div>
          </div>

          <div class="row mb-4">
            <div class="col-md-6 ">
              <button class="btn btn-primary mt-4" (click)="send()">Send</button>
            </div>
            <div class="col-md-6">
              <p class="mt-4">You have sent {{ counter }} ratings as of yet.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
